footer {
    background-color: $color-blue-extra-light;
    padding-top: 4rem;

    .form {
        // display: flex;
        // flex-flow: row wrap;
        // align-items: center;
        // position: relative;
        margin-bottom: 4rem;
    }

    /*CONTACT FORM
    ****************************************/
    .formulario {
        background-color: rgba(17, 145, 214, 0.31);
        padding: 2.3rem 2.3rem;
    
    
        .error-msg {
            color: #f00000;
            font-size: 14px;
            padding-top: 5px;
            display: none;
    
            &.visible {
                display: block;
            }
        }
    
        .form-group {
            margin-bottom: 2.5rem;
    
            .form-control {
                border-radius: 0;
                padding: 1rem 1rem;
                font-size: 1.6rem;
            }
    
            textarea {
                height: 178px;
    
            }
    
        }
    
    }
    
    
    .logo-footer {
        margin-top: 4rem;
    }
    
    
    .redes {
        h3{
            text-align: center;
            &::after{
                display: none;
            }
        }
        .social-links {
            list-style: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin: 3rem 0;
    
            li {
                margin-right: 1.6rem;
    
                @include media-breakpoint-up(md) {
                    margin-right: 2.2rem;
                }

    
                &:last-child {
                    margin: 0;
                }
    
                a {
                    width: 4rem;
                    height: 4rem;
                    line-height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: $color-blue-main;
                    color: #fff;
                    border-radius: 50%;
                    text-decoration: none;
    
                    &:hover {
                        background-color: $color-blue-light;
                        transform: translateY(-0.5rem);
                    }
    
                    i {
                        font-size: 2.4rem;
                    }
                }
            }
        }
    
    }
    
    .copyright {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.3rem;
        background-color: $color-blue-dark;
        color: #fff;
        height: 50px;
        p {
            margin: 0;
        }
    
    }
    
    .footer-widget {
        position: fixed;
        left: 2rem;
        bottom: 2rem;
        z-index: 100;
        width: 6rem;
        height: 6rem;
        animation: bounce-in-top 1.1s both;
        animation-delay: 1s;
    
        a {
            box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
            color: #fff;
            position: absolute;
            background-color: $color-whatsapp;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            transition: all .3s ease;
            z-index: 9999;
            padding: 10px;
    
            &:hover {
                background-color: #009688;
                color: #fff;
            }
    
            img {
                height: 40px;
                margin: 0;
                display: block;
                position: relative;
                padding: 0;
                width: 40px;
            }
        }
    }
    
    .back-to-top {
        color: #fff;
        position: fixed;
        right: 1.5rem;
        bottom: 2.2rem;
        transition: all .3s ease-in-out;
        background-color: #fff;
        border: 2px solid $color-blue-main;
        width: 4rem;
        height: 4rem;
        display: grid;
        place-items: center;
        border-radius: 50%;
        text-decoration: none;
        z-index: 5;
    
        @include media-breakpoint-up(lg) {
            &:hover {
                background-color: $color-blue-light;
                border-color: $color-blue-light;
    
                i {
                    color: #fff;
                }
            }
        }
    
        i {
            font-size: 2.2rem;
            color: $color-blue-main;
            transition: all 0.3s ease;
        }
    }
}

