html {
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    font-family: $font-family-main;
    font-size: 1.6rem;
    line-height: 1.5;
    color: $color-main;
}

.btn {
    min-width: 240px;
    color: #fff;
    border: none;
    text-decoration: none;
    transition: all 0.3s ease;
    margin: 1rem 0 0;
    font-size: 1.6rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.6rem;
    position: relative;
    font-weight: 600;
    border-radius: 0px;
    width: 100%;

    @include media-breakpoint-up(md) {
        width: auto;
    }

    span {
        position: relative;
        z-index: 10;
    }
    &:after {
        content: '';
        display: inline-block;
        width: 0;
        height: 100%;
        position: absolute;
        left: 0;
        transition: all 0.3s ease;
        background-color: $color-blue-dark;
        z-index: 9;
    }
    
    &.btn-primary {
        background: $color-blue-main;
        &:hover {
            &:after {
                width: 100%;
            }
        }
    }

    &.btn-whatsapp {
        background-color: $color-whatsapp;
        border-radius: 2.5rem;
        overflow: hidden;
        color: #fff !important;
        &:after {
            background-color: #009688;
        }
        &:hover {
            &:after {
                width: 100%;
            }
        }
        i {
            margin-right: .7rem;
            font-size: 2rem;
            transform: translateY(2px);
        }
    }
}


a {
    transition: all 0.3s ease;
    color: $color-blue-main;
    &:hover {
        color: $color-blue-dark;
    }
}

.container {
    padding-left: 15px;
    padding-right: 15px;

    /* .row > * {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    } */
}

strong {
    font-weight: 700;
}

section {
    padding: 3rem 0;
}

sup {
    top: -0.3em;
}


h1,
h2 {
    line-height: 1.15;
    letter-spacing: -.01em;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

h1 {
    font-size: 3.8rem;
    color: #fff;
    @include media-breakpoint-up(md) {
        font-size: 5.6rem;
    }
}

h2 {
    font-size: 2.2rem;
    @include media-breakpoint-up(md) {
        font-size: 3rem;
    }
}

#progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 4px;
    transition: width 0.5s linear;
    z-index: 1000;
    background-color: $color-blue-main;
    width: 100%;
    span {
        background-color: #4CAF50;
        display: block;
        width: 0;
        height: 100%;
    }
}

.lg-sub-html p {
    font-size: 1.5rem;
}