*::selection {
    background-color: $color-blue-extra-light;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    font-family: $font-family-main;
    font-size: 1.8rem;
    line-height: 1.4;
    color: $color-main;
}

.btn {
    min-width: 160px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
    margin: 2rem 0 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: .8rem 2rem;
    font-weight: 600;
    width: 100%;
    border-radius: 2rem;
    letter-spacing: 0.1em;
    border: 2px solid $color-blue-light;

    @include media-breakpoint-up(md) {
        width: auto;
    }

    &.btn-primary {
        background: $color-blue-light;
        &:hover {
            background-color: #fff;
            color: $color-blue-light;
            border: 2px solid $color-blue-light;
        }
    }

    &.btn-secondary {
        background: #fff;
        border: 2px solid $color-blue-light;
        color: $color-blue-light;
        &:hover {
            background-color: $color-blue-light;
            color: #fff;
        }
    }
}


a {
    transition: all 0.3s ease;
    color: $color-blue-main;
    &:hover {
        color: $color-blue-light;
    }
}

.container {
    padding-left: 15px;
    padding-right: 15px;

    /* .row > * {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    } */
}

.row > * {
    padding-right: 1.5rem;
    padding-left: 1.5rem;   
}

strong {
    font-weight: 700;
}

section {
    padding: 4rem 0;
}

main {
    padding-top: 80px;
}

h1,
h2,
h3 {
    line-height: 1.15;
    letter-spacing: .05em;
    font-weight: 700;
    font-family: $font-family-secondary;
    color: $color-main;
}




h1, 
h2 {
    font-size: 2.5rem;
    margin-bottom: 4.5rem;
    text-transform: uppercase;
    @include media-breakpoint-up(md) {
        font-size: 3.8rem;
    }

    &:after {
        content: "";
        display: block;
        height: 3px;
        background-color: $color-blue-light;
        width: 90px;
        margin-left: auto;
        margin-right: auto;
        transform: translateY(10px);
    }

}

h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    letter-spacing: 0;
    overflow: hidden;

    @include media-breakpoint-up(md) {
        font-size: 2.6rem;
    }

    &:after {
        content: "";
        display: block;
        height: 3px;
        background-color: $color-blue-light;
        width: 80px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.5rem;
        transform: translateY(10px);
    }

}

#progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 4px;
    transition: width 0.5s linear;
    z-index: 1000;
    background-color: #fff;
    width: 100%;
    span {
        background-color: $color-blue-light;
        display: block;
        width: 0;
        height: 100%;
    }
}


/*ANIMATIONS
********************************************/
@keyframes bounce-in-top {
    0% {
        transform: translateY(-500px);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        transform: translateY(0);
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        transform: translateY(-65px);
        animation-timing-function: ease-in;
    }
    72% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    81% {
        transform: translateY(-28px);
        animation-timing-function: ease-in;
    }
    90% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    95% {
        transform: translateY(-8px);
        animation-timing-function: ease-in;
    }
    100% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
  }


  /*MIXINS
  *******************************************/
  @mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }