#nosotros {
    @include media-breakpoint-down(lg) {
        padding-bottom: 0;
    }
}

.nosotros__flex--foto {

    img {
        width: 100%;
        @include media-breakpoint-down(lg) {
            margin-bottom: 3rem;
        }
    }
}

.nosotros__flex--quienessomos {
    padding-bottom: 1.6rem;
    color: rgb(0, 0, 0);
}


.quienessomos--text {
    text-align: justify;
    margin-bottom: 2rem;
    margin-right: 0.3rem;
    margin-left: 0.3rem;

    @include media-breakpoint-up(lg) {
        font-size: 2rem;
    }
}

.quienessomos-list {
    list-style-type: square;
    text-align: justify;

    @include media-breakpoint-up(lg) {
        font-size: 2rem;
    }
}