/*MAIN SLIDER
****************************************************/
.swiper-main {
    width: 100%;
    height: auto;

    @include media-breakpoint-down(sm) {
        padding-top: 69px;
    }


    .swiper-slide {
        height: 480px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @include media-breakpoint-up(lg) {
            height: 600px;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: rgba($color: #000000, $alpha: 0.6);
            z-index: 1;
        }

        &--content {
            position: relative;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            max-width: 90%;
            transform: translateY(-2rem);

 /*            @include media-breakpoint-up(lg) {
                max-width: 85%;
            } */

            h2 {
                color: #fff;
                font-size: 3.2rem;
                margin-bottom: 1rem;
                text-align: center;

                @include media-breakpoint-up(xl) {
                    font-size: 5rem;
                }

                &:after {
                    display: none;
                }

            }

            h3 {
                color: #fff;
                font-size: 2.2rem;
                margin-bottom: 1rem;

                @include media-breakpoint-up(xl) {
                    font-size: 3.2rem;
                }

                &:after {
                    display: none;
                }
            }

            h4 {
                &:after {
                    display: none;
                }
            }
        }

        &.slide-01 {
            background-image: url('../../images/slide_02.jpg');
        }

        &.slide-02 {
            background-image: url('../../images/slide_01.jpg');
        }

        &.slide-03 {
            background-image: url('../../images/slide_03.jpg');
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        color: #fff;
        background-color: rgba($color: #fff, $alpha: 0.2);
        width: 8rem;
        height: 8rem;
        border-radius: 100%;
        display: grid;
        place-items: center;
        top: 50%;
        transform: translateY(-50%);

        &:hover {
            background-color: rgba($color: $color-blue-light, $alpha: 0.6);
        }

        &:after {
            transition: all 0.3s ease;
            font-size: 2.6rem;
        }

        @include media-breakpoint-down(lg) {
            display: none;
        }
    }

    .swiper-button-prev {
        left: -4rem;

        &:after {
            transform: translateX(1.2rem);
        }
    }

    .swiper-button-next {
        right: -4rem;

        &:after {
            transform: translateX(-1.2rem);
        }
    }

    .swiper-pagination-bullets {
        bottom: 2rem !important;
    }

    .swiper-pagination-bullet {
        width: 4rem;
        border-radius: 0;
        height: 0.5rem;
        background-color: #fff;
        opacity: 0.3;

        &-active {
            opacity: 1;
        }
    }

}

#nosotros {
    .container {

        .quienessomos {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 5rem 0;
            color: rgb(0, 0, 0);

            .quienessomos__text {
                margin-bottom: 2rem;
                margin-right: 0.3rem;
                margin-left: 0.3rem;

                @include media-breakpoint-up(md) {
                    font-size: 1.9rem;

                }

                @include media-breakpoint-up(lg) {
                    font-size: 2.1rem;

                }

            }
        }
    }
}


/*SOLUCIONES TECNOLOGICAS
***********************************************/
#servicios {

    .container {

        .soluciones {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #000;
        }

        .soluciones__grid {
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
            gap: 40px;

            @include media-breakpoint-up(md) {
                grid-template-columns: 1fr 1fr;

            }

            @include media-breakpoint-up(lg) {
                grid-template-columns: 1fr 1fr 1fr;

            }

            .soluciones__grid--servicio {
                width: auto;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                box-shadow: 0 0 14px 3px #d9d9d9;
                border-radius: 1rem;
                padding: 3rem;

                h3 {
                    text-align: center;
                }
                
                img {
                    height: 85px;
                    width: auto;
                    margin-bottom: 1rem;
                }
                
                p {
                    text-align: justify;
                    margin-bottom: 3rem;
                }

                .btn {
                    @include media-breakpoint-up(lg) {
                        margin-top: auto;
                    }
                }

            }
        }
    }
}

#servicios2 {
    .container {
        .servicios2__box {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 40px;

            .servicios2__box--item {

                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;

                @include media-breakpoint-up(md) {
                    width: 46%;

                }

                .text {
                    text-align: justify;
                    @include media-breakpoint-up(lg) {
                        min-height: 85px;
                    }
                }

                a {
                    margin: 20px 0;
                }

                img {
                    width: 100%;
                    margin-top: 2rem;
                    height: 350px;
                    object-fit: cover;
                }

            }
        }

    }

    .servicios2-logos {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        img {
            margin: 0 2rem;
        }
    }

}

/*SECTION UBICACION
*********************************************/
#ubicacion {

    .maps {
        iframe {
            width: 100%;
            height: 500px;

        }
    }

    .detalles {
        display: flex;
        flex-direction: column;
        @include media-breakpoint-up(lg) {
            padding-left: 2rem;
        }

        .lista {
            list-style-type: none;

            li {
                padding: 10px 0;
            }
        }
    }
}

/*THANK YOU
************************************************/
.thank-you {
    padding: 15rem 0;
    text-align: center;

    &>.container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .btn {
            margin-top: 2rem;
        }
    }

    h1 {
        color: $color-blue-main;
    }


}

/*CLIENTS LOGOS
***********************************************/
.swiper-clientsLogos {
    background-color: $color-gray-light-01;
    padding-bottom: 3rem;

    .swiper-slide {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(3, 1fr);
        padding: 2rem;

        @include media-breakpoint-up(md) {
            grid-template-columns: repeat(8, 1fr);
        }

        img {
            width: 100%;
            border: 1px solid $color-gray-light-02;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        background-color: rgba(0, 0, 0, 0.2);
        display: flex;
        @include flex-center;
        border-radius: 100%;
        height: 5rem;
        width: 5rem;
        transition: all 0.3s ease;

        &:hover {
            background-color: rgba($color: $color-blue-light, $alpha: 0.5);
        }

        &:after {
            color: #fff;
            font-size: 2.5rem;
        }
    }
}