/*MAIN SLIDER
****************************************************/
.swiper {
    width: 100%;
    height: auto;

    @include media-breakpoint-down(sm){
    padding-top: 69px;
    }
   

    .swiper-slide {
        height: 480px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @include media-breakpoint-up(lg) {
            height: 600px;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: rgba($color: #000000, $alpha: 0.6);
            z-index: 1;
        }

        &--content {
            position: relative;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            max-width: 90%;
            transform: translateY(-2rem);
            @include media-breakpoint-up(lg) {
                max-width: 80%;
            }

            h2 {
                color: #fff;
                font-size: 3.2rem;
                margin-bottom: 1rem;
                @include media-breakpoint-up(xl) {
                    font-size: 5rem;
                }
                            
            }

            h3 {
                color: #fff;
                font-size: 2.2rem;
                @include media-breakpoint-up(xl) {
                    font-size: 3.2rem;
                }
            }
        }

        &.slide-01 {
            background-image: url('../../images/slide_02.jpg');
        }

        &.slide-02 {
            background-image: url('../../images/slide_01.jpg');
        }

        &.slide-03 {
            background-image: url('../../images/slide_03.jpg');
        }
    }

    &-button-prev,
    &-button-next {
        color: #fff;
        background-color: rgba($color: #fff, $alpha: 0.2);
        width: 8rem;
        height: 8rem;
        border-radius: 100%;
        display: grid;
        place-items: center;
        top: 50%;
        transform: translateY(-50%);
        &:hover {
            &:after {
                //color: $color-blue-light;
            }
        }
        &:after {
            transition: all 0.3s ease;
            font-size: 2.6rem;
        }

        @include media-breakpoint-down(lg) {
            display: none;
        }
    }

    &-button-prev {
        left: -4rem;
        &:after {
            transform: translateX(1.2rem);
        }
    }
    &-button-next {
        right: -4rem;
        &:after {
            transform: translateX(-1.2rem);
        }
    }

    &-pagination-bullets {
        bottom: 2rem !important;
    }

    &-pagination-bullet {
        width: 4rem;
        border-radius: 0;
        height: 0.5rem;
        background-color: #fff;
        opacity: 0.3;
        &-active {
            opacity: 1;
        }
    }

  }

/*CONTACT FORM
****************************************/
.formulario {
    background-color: #E6E6E6;

    .tituloFormulario{
        text-align: center;
        margin: 3rem 0 4rem;
        
        p{
            font-size: 1.6rem;
            @include media-breakpoint-up(md) {
                font-size: 2.1rem;  
            }
        }
    }

    .error-msg {
        color: #f00000;
        font-size: 14px;
        padding-top: 5px;
        display: none;
        &.visible {
            display: block;
        }
    }

    .form-group {
        margin-bottom: 2.5rem;

        .form-control{
            border-radius: 0;
            padding: 0.85rem 1rem;
            font-size: 1.6rem;
        }

        textarea {
            height: 178px;
            @include media-breakpoint-up(lg) {
                margin-left: 1rem;
            }
        }
    
    }

}

/*THANK YOU
************************************************/
.thank-you{
    padding: 15rem 0;
    text-align: center;

    & > .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .btn {
            margin-top: 2rem;
        }
    }

    h1 {
        color: $color-blue-main;
    }


}


