/*MAIN SLIDER
****************************************************/
.swiper {
    width: 100%;
    height: auto;

    @include media-breakpoint-down(sm){
    padding-top: 69px;
    }
   

    .swiper-slide {
        height: 480px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @include media-breakpoint-up(lg) {
            height: 600px;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: rgba($color: #000000, $alpha: 0.6);
            z-index: 1;
        }

        &--content {
            position: relative;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            max-width: 90%;
            transform: translateY(-2rem);
            @include media-breakpoint-up(lg) {
                max-width: 80%;
            }

            h2 {
                color: #fff;
                font-size: 3.2rem;
                margin-bottom: 1rem;
                text-align: center;
                @include media-breakpoint-up(xl) {
                    font-size: 5rem;
                }
                            
            }

            h3 {
                color: #fff;
                font-size: 2.2rem;
                text-align: center;
                @include media-breakpoint-up(xl) {
                    font-size: 3.2rem;
                }
            }

            .btn {
                min-width: 330px;
                margin-top: 2rem;
            }
        }

        &.slide-01 {
            background-image: url('../../images/slide_01.jpg');
        }

        &.slide-02 {
            background-image: url('../../images/slide_02.jpg');
        }
    }

    &-button-prev,
    &-button-next {
        color: #fff;
        background-color: rgba($color: #fff, $alpha: 0.2);
        width: 8rem;
        height: 8rem;
        border-radius: 100%;
        display: grid;
        place-items: center;
        top: 50%;
        transform: translateY(-50%);
        &:hover {
            &:after {
                //color: $color-blue-light;
            }
        }
        &:after {
            transition: all 0.3s ease;
            font-size: 2.6rem;
        }

        @include media-breakpoint-down(lg) {
            display: none;
        }
    }

    &-button-prev {
        left: -4rem;
        &:after {
            transform: translateX(1.2rem);
        }
    }
    &-button-next {
        right: -4rem;
        &:after {
            transform: translateX(-1.2rem);
        }
    }

    &-pagination-bullets {
        bottom: 2rem !important;
    }

    &-pagination-bullet {
        width: 4rem;
        border-radius: 0;
        height: 0.5rem;
        background-color: #fff;
        opacity: 0.3;
        &-active {
            opacity: 1;
        }
    }

  }

/*SECTION LOTEOS
*******************************************/
.loteo {
    &:nth-child(2n+1) {
        background-color: #f5f5f5;
    }

    padding: 5rem 0;

    .loteo__barrio {
        width: 100%;
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        //gap: 20px;
        height: 100%;

        @include media-breakpoint-up(lg) {
            padding-right: 3rem;
        }

        .modalMaps {
            .modal-dialog {
                @include media-breakpoint-up(xl) {
                    max-width: 80%;
                }
            }
        }

        &--titulo {
            padding-bottom: 2rem;

            h2 {
                padding-bottom: .5rem;
                &:after {
                    content: "";
                    display: block;
                    background-color: $color-blue-main;
                    width: 75px;
                    height: 3px;
                    transform: translateY(10px);
                    margin-bottom: 25px;
                }
        
            }

            h3 {
                font-size: 1.8rem;
                margin: 0;
                position: relative;
                padding-left: 2.2rem;
                @include media-breakpoint-up(lg) {
                    font-size: 2.1rem;
                }

                i {
                    font-size: 1.8rem;
                    position: absolute;
                    left: 0;
                    top: 4px;
                }

                .separator {
                    display: inline-block;
                    margin: 0 .3rem;
                    color: $color-blue-light;
                }
            }

            a {
                margin-left: 22px;
                font-weight: 600;
                font-size: 1.5rem;
            }
            
        }

        /* &--zone {
            margin-top: 2rem;
        } */

        &--lotes {
            width: 100%;
            border-top: solid 1px rgba(32, 57, 111, 0.3);
            border-bottom: solid 1px rgba(32, 57, 111, 0.3);
            padding: 20px 0px 1rem;

            p {
                text-align: justify;
            }

            ul {
                list-style: none;
                padding: 0;
                margin-top: 2rem;
                li {
                    display: flex;
                    align-items: baseline;
                    line-height: 1.5;
                    margin-bottom: .7rem;
                    i {
                        margin-right: 1rem;
                    }
                }
            }

        }

        .loteo__barrio--estado{
            width: 100%;
            display: flex;
            margin: 2rem 0 0;

                strong {
                    margin-right: 1rem;
                }

                .state {
                    font-weight: 700;
                    i {
                        margin-right: .5rem;
                    }
                    &.in-progress {
                        color:#ff0000;
                    }
                    &.available {
                        color: $color-available;
                    }
                }
        }

        .loteo__barrio--financiacion {
            margin: 1rem 0 2rem;
            border-bottom: solid 1px rgba(32, 57, 111, 0.3);
            width: 100%;
            padding-bottom: 2rem;

            ul {
                margin-top: 1rem;
                padding-left: 1.5rem;
            }
        }

        .loteo__barrio--masInfo {
            //margin-top: auto;
            @include media-breakpoint-down(md) {
                width: 100%;
            }
        }

    }

    .loteo__prices {
        margin-top: 4rem;
        background-color: #ededed;
        
        &--title {
            background-color: $color-blue-main;
            padding: 1rem 2rem;
            font-weight: 700;
            text-transform: uppercase;
            color: #fff;
        }

        &--content {
            padding: 2rem;

            div {
                display: flex;
                justify-content: space-between;
                
                &:not(:last-child) {
                    border-bottom: 1px dotted #bbb;
                    margin-bottom: .7rem;
                    padding-bottom: .7rem;
                }
    
                p {
                    width: 65%;
                    margin: 0;
                    font-size: 1.4rem;
                    @include media-breakpoint-up(lg) {
                        font-size: 1.5rem;
                    }

                    &.lote {
                        display: flex;
                        align-items: baseline;
                    }

                    &:last-child {
                        text-align: right;
                        width: 35%;
                    }

                    i {
                        margin-right: 1rem; 
                    }
    
                    /* @include media-breakpoint-up(sm) {
                        width: 50%;  
                    
                    }
                    @include media-breakpoint-up(md) {
                        width: 40%;  
                    
                    }
                    @include media-breakpoint-up(lg) {
                        width: 60%;  
                    
                    } */
                }
            }
        }
    }

    .barrio__fotos {
        width: 100%;
        border: 4px solid $color-blue-main;
        overflow: hidden;
        height: 250px;
        margin-top: 4rem;
        @include media-breakpoint-up(lg) {
            height: 400px;
            margin-top: 0;
        }

        .gallery-container {
            width: 100%;
            height: 100%;

            .gallery-item {
                position: relative;
                cursor: pointer;
                display: block;
                height: 100%;

                img {
                    transition: all 0.3s ease;
                }
                &:hover {
                    opacity: 0.8;
                    img {
                        transform: scale(1.2);
                    }
                }
                &:not(:first-child) {
                    display: none;
                }

                &-zoom {
                    position: absolute;
                    z-index: 100;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    top: 50%;
                    border-radius: 50%;
                    background-color: rgba($color: #fff, $alpha: 0.4);
                    padding: 2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    i {
                        font-size: 3.4rem;
                    }
                }
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }

    
}

/*CONTACT FORM
****************************************/
.formulario {
    background-color: #E6E6E6;

    .tituloFormulario{
        text-align: center;
        margin: 3rem 0 4rem;
        
        p{
            font-size: 1.6rem;
            @include media-breakpoint-up(md) {
                font-size: 2.1rem;  
            }
        }
    }

    .error-msg {
        color: #f00000;
        font-size: 14px;
        padding-top: 5px;
        display: none;
        &.visible {
            display: block;
        }
    }

    .form-group {
        margin-bottom: 2.5rem;

        .form-control{
            border-radius: 0;
            padding: 0.85rem 1rem;
            font-size: 1.6rem;
        }

        textarea {
            height: 178px;
            @include media-breakpoint-up(lg) {
                margin-left: 1rem;
            }
        }
    
    }

}

/*THANK YOU
************************************************/
.thank-you{
    padding: 15rem 0;
    text-align: center;

    & > .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .btn {
            margin-top: 2rem;
        }
    }

    h1 {
        color: $color-blue-main;
    }


}


