.soluciones {
    .icon-soluciones {
        margin: 0 auto 2rem;
        display: block;
    }

    .two-cols-soluciones {
        margin: 4rem 0 0 0;

        @include media-breakpoint-up(lg) {
            margin: 8rem 0 3rem 0;
        }

        img {
            margin: 0 auto 3rem;
            display: block;

            @include media-breakpoint-up(lg) {
                margin: 0 auto;
            }
        }

        ul {
            list-style: square;

            @include media-breakpoint-up(lg) {
                margin-top: 5rem;
            }
        }
    }

    &-logos {
        margin-top: 4rem;

        @include media-breakpoint-up(lg) {
            margin-top: 8rem;
        }

        &--grid {
            display: grid;
            grid-column-gap: 4rem;
            grid-row-gap: 1rem;
            grid-template-columns: repeat(2, 1fr);
            
            @include media-breakpoint-up(lg) {
                grid-row-gap: 3rem;
                grid-template-columns: repeat(5, 1fr);
            }

            img {
                display: block;
                margin: 0 auto;
                max-width: 100%;
            }
        }
    }

}