/*FONTS
*******************************/
$font-family-main: 'Montserrat', sans-serif;

/*COLORS
*******************************/
$color-main: #333;
$color-blue-main: #20396f;
$color-blue-light: #4764a3;
$color-blue-dark: #0a245c;
$color-whatsapp: #1fca1f;
$color-available: #1CCB00;
