/*FONTS
*******************************/
$font-family-main: 'Barlow', sans-serif;
$font-family-secondary: 'Kanit', sans-serif;

/*COLORS
*******************************/
$color-main: #141414;
$color-blue-main: #242c59;
$color-blue-light: #1a9bf0;
$color-blue-extra-light: #d9edfb;
$color-gray-light-01: #e7e7e7;
$color-gray-light-02: #999;
$color-blue-dark: #0a245c;
$color-whatsapp: #1fca1f;
$color-available: #1CCB00;
