/*FONTS
*******************************/
$font-family-main: 'Barlow', sans-serif;
$font-family-secondary: 'Kanit', sans-serif;

/*COLORS
*******************************/
$color-main: #141414;
$color-blue-main: #242c59;
$color-blue-light: #3694d0;





$color-blue-dark: #0a245c;
$color-whatsapp: #1fca1f;
$color-available: #1CCB00;
