@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

@import "_bootstrap_custom";

@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../node_modules/aos/src/sass/aos.scss";



@import "_variables";
@import "_globals";
@import "_footer";
@import "_header";
@import "_sections";